<!DOCTYPE html>
<html>
<head>
<title> Welcome to Bonnick's Music Store</title>
<h1> Welcome</h1>
<body> At the Bonnick Music Store music never die. It lives on forever changing lives and impacting individuals all over the globe</body>
<h3> The medicine when your lonely and Stress</h3>
<body> Check out Love city album</body>
<p> Love city album teaches you how to treat your lady right</p>
<main>
<h4> It our society many men our not treating them women right. It is happen all around</h4>
<p>But don’t control her; you don’t own her. When it comes to deciding on where to eat or what activity to do, don’t second guess yourself over and over. If she wants to be indecisive fine, but you as a man must always be sure of both your words and actions. Lead with confidence, not constant self-doubt.</p>
<img src="treat.jpg"/>
</main>
<a href="Dog.html">dog's world</a>
<a href="https://www.bing.com/images/search?view=detailV2&ccid=yq2bJZuT&id=F1B511145FFBDC0E8974D8748B3030B1489C39B4&thid=OIP.yq2bJZuTLQft8VH64qWKugHaE9&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.caad9b259b932d07edf151fae2a58aba%3frik%3dtDmcSLEwMIt02A%26riu%3dhttp%253a%252f%252fimages6.fanpop.com%252fimage%252fphotos%252f35200000%252fDog-dogs-35247719-3706-2480.jpg%26ehk%3dKxtyR9n8AeKgVKg4%252f4CZ9hW%252bCH6xcePDPOTQl54eExs%253d%26risl%3d1%26pid%3dImgRaw%26r%3d0&exph=2480&expw=3706&q=dogs&simid=608001575257584985&FORM=IRPRST&ck=65E384ED8DEB799F5134E71AD0FA47DF&selectedIndex=0&ajaxhist=0&ajaxserp=0"> Dog's world</a>
<footer> <follow>Follow Us:</p>
<a href= "https://www.youtube.com/"> On Youtube</a>
</p>
<p>&copy; Copyright 2016, All rights Reserved. </p>
</footer>
</html>
